.container {
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
}

.header {
  background: linear-gradient(97.88deg, #854BFF -84.42%, #7179FF 15.02%, #6D83FF 36.89%, #698BFF 54.79%, #6499FF 80.65%, #659BF7 108.49%, #669FEA 148.27%, #69A9CD 197.99%, #6CB1B2 239.75%);
  width: 100%;
  padding-bottom: 56px;
  margin-bottom: 64px;
}

.headerContents {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 50px;
}

.headerTitle {
  font-size: 48px;
  color: #fff;
}

.headerImage {
  width: 600px;
  height: 400px;
}


.cardListTitle {
  font-size: 24px;
}

.cardList {
  display: flex;
  gap: 21.5px;
}


.banner {
  background-color: #7471FF;
  padding: 33px 42px;
  font-size: 24px;
  color: #fff;
  margin: 89px 0;
}