.container {
  border-radius: 6px;
  background: url('../assets/images/camp_image.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 224px;
  height: 280px;
  padding: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.title {
  font-weight: bold;
}

.strongTag {
  font-weight: normal;
}